In [17]:
import pandas as pd

df = pd.read_csv("/Users/rajusubba/Documents/End-to-End MLOps/customer-churn-project/artifacts/data_ingestion/raw_snapshot.csv")
print(df.head())

   customerid   surname  creditscore geography  gender  age  tenure  \
0    15634602  Hargrave          619    France  Female   42       2
1    15647311      Hill          608     Spain  Female   41       1
2    15619304      Onio          502    France  Female   42       8
3    15701354      Boni          699    France  Female   39       1
4    15737888  Mitchell          850     Spain  Female   43       2

     balance  numofproducts  hascrcard  isactivemember  estimatedsalary  \
0       0.00              1          1               1        101348.88
1   83807.86              1          0               1        112542.58
2  159660.80              3          1               0        113931.57
3       0.00              2          0               0         93826.63
4  125510.82              1          1               1         79084.10

   exited
0       1
1       0
2       1
3       0
4       0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerid       10000 non-null  int64
 1   surname          10000 non-null  object
 2   creditscore      10000 non-null  int64
 3   geography        10000 non-null  object
 4   gender           10000 non-null  object
 5   age              10000 non-null  int64
 6   tenure           10000 non-null  int64
 7   balance          10000 non-null  float64
 8   numofproducts    10000 non-null  int64
 9   hascrcard        10000 non-null  int64
 10  isactivemember   10000 non-null  int64
 11  estimatedsalary  10000 non-null  float64
 12  exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 1015.8+ KB

In [20]:
import joblib
pp = joblib.load("/Users/rajusubba/Documents/End-to-End MLOps/customer-churn-project/artifacts/data_preprocessing/preprocessor.pkl")
print(pp)

{'categorical_cols': ['surname', 'geography', 'gender'], 'numerical_cols': ['customerid', 'creditscore', 'age', 'tenure', 'balance', 'numofproducts', 'hascrcard', 'isactivemember', 'estimatedsalary'], 'ohe': OneHotEncoder(handle_unknown='ignore', sparse_output=False), 'scaler': StandardScaler(), 'target_column': 'exited'}